@inject IViewLocalizer L
@{
    ViewData["Title"] = L["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@L["Welcome"]</h1>
    <p>@L["Simple code structure for User Management"].</p>
</div>
